{% extends 'base.html' %}
{% block content %}
<div>
    <h3>멜론에서 아티스트 검색 후 추가하기</h3>
    <!--
       Template:artist/artist_search_from_melon.html
       form (input[name=keyword]한개, button 한개)
     -->

    <form action="">
        <input type="text" name="keyword" placeholder="아티스트명 입력">
    </form>
    <button type="submit">
        검색
    </button>

    <ul>
        {% for artist_info in artist_info_list %}
        <li>
            <img src="{{ artist_info.url_img_cover }}" alt="">
            <span>{{ artist_info.artist_id }}|{{ artist_info.lname }}</span>
        </li>
        {% endfor %}
    </ul>

    {{ artist_info_list }}

</div>
{% endblock %}